MONGODB_URI=mongodb+srv://yt:dRBfk4m85RACFRpq@cluster0.uzxnbpa.mongodb.net/
SESSION_SECRET=6064f0f38081c8bd67e572f735adacd03e4ba624e7e11456e4ebefc0914693b9
IMAGEKIT_PUBLIC_KEY=public_0Ef6C7Cg+ox1e1wVLe5ETbdd98I=
IMAGEKIT_PRIVATE_KEY=private_gbyHaiek3Aa7QqfSM3CalpqB3B4=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/a6yaddvuc
PORT=8080
NODE_ENV=development
